<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">
    <body>
        <script type="text/javascript" th:fragment="javascript">
            $(document).ready(function () {
                $("#buscar_producto").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "/factura/cargar-productos/" + request.term,
                            dataType: "json",
                            data: {
                                term: request.term
                            },
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return {value: item.id, label: item.nombre, precio: item.precio}
                                }))
                            }
                        })
                    },
                    select: function (event, ui) {
                        //$("#buscar_producto").val(ui.item.label)
                        let linea = $('#plantillaItemsFactura').html()
                        linea = linea.replace(/{ID}/, ui.item.value)
                        linea = linea.replace(/{NOMBRE}/, ui.item.label)
                        linea = linea.replace(/{PRECIO}/, ui.item.precio)
                        $('#cargarItemProducto tbody').append(linea)
                        return false
                    }
                })
            })
        </script>
    </body>
</html>
