<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <head th:replace="layout :: head"></head>
    <body>
    <div th:replace="layout :: nav"></div>
        <div class="container">
            <div class="card bg-light mt-4">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">
                    <h4 class="cart-title">
                        <a th:href="@{'/ver/' + ${factura.cliente.id}}" class="btn btn-secondary btn-xs">regresar</a>
                    </h4>

                    <form th:action="@{/factura/form}" th:object="${factura}" method="post">

                        <div class="form-group row my-2">
                            <label class="col-sm-2 col-form-label" th:text="'Cliente'"></label>
                            <div class="col-sm-6">
                                <input type="" th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}" disabled="disabled" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row my-2">
                            <label class="col-sm-2 col-form-label" th:text="'Descripcion'"></label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{descripcion}" class="form-control "
                                th:errorclass="is-invalid">
                                <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                            </div>
                        </div>

                        <div class="form-group row my-2">
                            <label class="col-sm-2 col-form-label" th:text="'Observacion'"></label>
                            <div class="col-sm-6">
                                <textarea th:field="*{observacion}" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group row my-2">
                            <label class="col-sm-2 col-form-label" th:text="'Buscar producto'" for="Buscar_producto" id="lbp"></label>
                            <div class="col-sm-6">
                                <input type="text" id="buscar_producto" class="form-control"></input>
                            </div>
                        </div>

                        <table th:replace="factura/plantilla-items :: itemsFactura"></table>
                        <table id="cargarItemProducto" class="table-sm table-striped table-hover">
                            <thead>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Eliminar</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <h5 class="badge rounded-pill bg-primary">
                            <span>Total</span>
                            <span class="badge text-bg-secondary" id="gran_total">0</span>
                        </h5>
                        <div class="form-group row my-2">
                            <div class="col-sm-6">
                                <input type="submit" th:value="${titulo}" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="layout :: footer"></div>
    <input type="hidden" id="urlAjax" th:value="@{'/factura/cargar-productos/'}">
        <script th:replace="factura/js/autocomplete-products :: javascript"></script>
    </body>
</html>
