<!DOCTYPE html>
<html
  lang="en"
  xmlns="https://www.thymeleaf.org/"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="layout :: head"> </head>
  <body>
    <div class="container my-4">
      <div class="card bg-danger text-white">
        <div class="card-header">Error de acceso denegado</div>
        <div class="card-body">
          <h5 class="card-title">
            Los sentimos
            <span sec:authentication="name">
            </span>
            No tienes permismos para acceder a este recurso
          </h5>
          <a th:href="@{/listar}" class="btn btn-outline-light" role="button"
            >Regresar</a
          >
        </div>
      </div>
    </div>
    <div th:replace="layout :: footer"></div>
    asdasdasd
  </body>
</html>
