<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3 th:text="${titulo}"></h3>
        <form
            th:action="@{/form}" th:object="${usuario}" method="post">
            <!-- Pais -->
            <div>
                <label for="pais">
                    Pais</label>
                <div>
                    <Select id="pais" th:field="*{pais}">
                        <option value="">Seleccionar</option>
                        <option th:each="pais : ${listaPaises}" th:text="${pais.nombre}" th:value="${pais.id}">
                    </Select>
                </div>
                <div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
            </div>
            <!-- nombre -->
            <div>
                <label for="nombre">
                    nombre</label>
                <div>
                    <input type="text" id="nombre" th:field="*{nombre}">
                </div>
                <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
            </div>
            <!-- apellido -->
            <div>
                <label for="apellido">
                    apellido</label>
                <div>
                    <input type="text" id="apellido" th:field="*{apellido}">
                </div>
                <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
            </div>
            <!-- usuario -->
            <div>
                <label for="username">
                    Username</label>
                <div>
                    <input type="text" id="username" th:field="*{username}">
                </div>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>
            <!-- password -->
            <div>
                <label for="password">password</label>
                <div>
                    <input type="password" th:field="*{password}" id="password">
                </div>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <!-- email -->
            <div>
                <label for="email">email</label>
                <div>
                    <input type="text" id="email" th:field="*{email}">
                </div>
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <!-- edad -->
            <div>
                <label for="edad">Edad</label>
                <div>
                    <input type="text" id="edad" th:field="*{edad}">
                </div>
            </div>
            <div th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></div>
            <!-- fecha -->
            <div>
                <label for="edad">Fecha de fecha de nacimiento </label>
                <div>
                    <input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="yyy/MM/dd">
                </div>
            </div>
            <div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
            <!-- button -->
            <br>
            <div>
                <div>
                    <input type="submit" name="" value="enviar">
                </div>
            </div>
        </form>
    </body>
</html>
