<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3 th:text="${titulo}"></h3>
        <form
            th:action="@{/form}" method="post">
            <!-- usuario -->
            <div>
                <label for="username">Username</label>
                <div>
                    <input type="text" name="username" id="username" th:value="${user.username}">
                </div>
                <div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>
            </div>
            <!-- password -->
            <div>
                <label for="password">password</label>
                <div>
                    <input type="password" name="password" id="password">
                </div>
                <div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div>
            </div>
            <!-- email -->
            <div>
                <label for="email">email</label>
                <div>
                    <input type="text" name="email" id="email" th:value="${user.email}">
                </div>
            </div>
            <div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}"></div>
            <!-- button -->
            <br>
            <div>
                <div>
                    <input type="submit" name="" value="enviar">
                </div>
            </div>
        </form>
    </body>
</html>
