<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head th:replace="layout :: head"></head>
    <body>

        <nav th:fragment="paginator" class="container " aria-label="Page navigation example">
            <ul class="pagination">
                <!-- primera -->
                <li th:class="${page.first ? 'page-item disabled' : 'page-item '}">
                    <span class="page-link" th:if="${page.first}" th:text="Primera"></span>
                    <a 
                    class="page-link" 
                    th:if="${not page.first}" 
                    th:href="@{${page.url}(page=0)}"
                    th:text="Primera"></a>
                </li>
                <!-- anterior -->
                <li th:class="${not page.hasPrevious ? 'page-item disabled' : 'page-item '}">
                    <span class="page-link" th:if="${not page.hasPrevious}" th:text="anterior"></span>
                    <a 
                    class="page-link" 
                    th:if="${page.hasPrevious}" 
                    th:href="@{${page.url}(page=${page.currentPage-2})}" th:text="anterior"></a>
                </li>
                <!-- paginas -->
                <li th:class="${item.current ? 'page-item active' : 'page-item'}" th:each="item : ${page.paginas}">
                    <span class="page-link" th:if="${item.current}" th:text="${item.numero}"></span>
                    <a 
                    class="page-link" 
                    th:if="${not item.current}" 
                    th:href="@{${page.url}(page=${item.numero-1})}"
                    th:text="${item.numero}"></a>
                </li>
                <!-- siguiente -->
                <li th:class="${not page.hasNext ? 'page-item disabled' : 'page-item '}">
                    <span class="page-link" th:if="${not page.hasNext}" th:text="Siguiente"></span>
                    <a 
                    class="page-link" 
                    th:if="${page.hasNext}" 
                    th:href="@{${page.url}(page=${page.currentPage})}" th:text="Siguiente"></a>
                </li>
                <!-- ultima -->
                <li th:class="${page.last ? 'page-item disabled' : 'page-item '}">
                    <span class="page-link" th:if="${page.last}" th:text="Ultima"></span>
                    <a 
                    class="page-link" 
                    th:if="${not page.last}" 
                    th:href="@{${page.url}(page=${page.totalPages -1})}" th:text="Ultima"></a>
                </li>
            </ul>
        </nav>
    </body>
</html>
