<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1 th:text="${titulo}"></h1>
    <div th:text="${usuario.nombre + ' ' + usuario.apellido}"></div>
    <span th:if="${usuario.email}" th:text="${usuario.email}"></span><br>
    <span th:if="${usuario.email == null}" th:text="'usuario sin correo'"></span>
    </body>
</html>