<!DOCTYPE html>
<html lang="es" xmlns="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Parametros</title>
</head>
<body>
    <ul>
        <li>
            <a th:href="@{/params/string(text='a href')}">params/string?text=a href</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params(nombre='David, ', edad='18')}">params/mix-params?nombre=David&edad=18</a>
        </li>
        <li>
            <a th:href="@{/params/http-params(nombre='David, ', edad='18')}">params/http-params?nombre=David&edad=18</a>
        </li>
    </ul>
</body>
</html>